  <div class="container text-body writingbigbig">
    <h1 class="text-center"> Créer un événement </h1> </br></br>
    <%= form_with(model: event, local: true) do |form| %>
      <% if event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
          <% event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %></br>


      <div class="field">
        <%= form.label :name %>
        <div class="text-body">
          <%= form.text_field :name, placeholder: "Cours de Slackline débutant" %>
        </div>
      </div></br>

      <div class="field">
        <%= form.label :discipline %> <p class="d-inline text-danger"> 
          <p class="d-inline">Ne pas sélectionner les cases qui sont de la forme ===MAJUSCULE===. Les catégories génériques à sélectionner sont écrits en gros. </p>
        <div class="text-body">
          <%= form.select :discipline, 
          [['===SPORTS DE GLISSE (SG)===', {class: 'writingbigbigbig font-weight-bold bgbleupal'}], 
          ['SG', {class: 'writingbigbigbig font-weight-bold bgbleutrpal'}],
          ['Roller (SG)', {class: 'writingbigbigbig font-weight-bold bgbleutrpal'}], ['Roller Fitness Ballade (SG)', {class: 'bgbleutrpal'}], ['Roller Slalom (SG)', {class: 'bgbleutrpal'}], ['Roller Quad (SG)', {class: 'bgbleutrpal'}], ['Roller Vitesse (SG)', {class: 'bgbleutrpal'}], ['Roller Agressif (SG)', {class: 'bgbleutrpal'}], ['Roller Autre (SG)', {class: 'text-primary bgbleutrpal'}], 
          ['Board (SG)', {class: 'writingbigbigbig font-weight-bold bgbleutrpal'}], ['Skateboard (SG)', {class: 'bgbleutrpal'}], ['Longboard (SG)', {class: 'bgbleutrpal'}], ['Trotinette board (SG)', {class: 'bgbleutrpal'}], ['Board Autre (SG)', {class: 'text-primary bgbleutrpal'}],
          ['Vélo (SG)', {class: 'writingbigbigbig font-weight-bold bgbleutrpal'}], ['Vélo Fixi (SG)', {class: 'bgbleutrpal'}], ['Vélo Vitesse (SG)', {class: 'bgbleutrpal'}], ['Vélo BMX (SG)', {class: 'bgbleutrpal'}], ['Vélo Autre (SG)', {class: 'text-primary bgbleutrpal'}],
          ['AUTRE SG', {class: 'text-primary bgbleutrpal'}],
          ['===EQUILIBRE AGILITE (EA)===', {class: 'writingbigbigbig font-weight-bold bgvertpal'}], ['EA', {class: 'writingbigbigbig font-weight-bold bgverttrpal'}], ['Parkour (EA)', {class: 'bgverttrpal'}], ['Slackline (EA)', {class: 'bgverttrpal'}], ['Jonglage (EA)', {class: 'bgverttrpal'}], ['Monocycle (EA)', {class: 'bgverttrpal'}], ['Roue Cyr (EA)', {class: 'bgverttrpal'}], ['Autre EA', {class: 'text-primary bgverttrpal'}],
          ['=== BIEN-ÊTRE (BE)===', {class: 'writingbigbigbig font-weight-bold bgvioletpal'}], ['BE', {class: 'writingbigbigbig font-weight-bold bgviolettrpal'}], ['Workout (BE)', {class: 'bgviolettrpal'}], ['Pilat (BE)', {class: ' bgviolettrpal'}], ['Yoga (BE)', {class: 'bgviolettrpal'}], ['Running (BE)', {class: 'bgviolettrpal'}], ['Autre BE', {class: 'text-primary bgviolettrpal'}],
          ['===DANSES URBAINES (DU)===', {class: 'writingbigbigbig font-weight-bold bgjaune'}], ['DU', {class: 'writingbigbigbig font-weight-bold bgjaunetrpal'}], ['Hip-Hop (DU)', {class: 'bgjaunetrpal'}], ['Capoeira (DU)', {class: 'bgjaunetrpal'}], ['Danse Latine (DU)', {class: 'bgjaunetrpal'}], ['Autre DU', {class: 'text-primary bgjaunetrpal'}],
          ['=== TRUCS UBRAINS (TU) ===', {class: 'writingbigbigbig font-weight-bold bgrougepal'}], ['TU', {class: 'writingbigbigbig font-weight-bold bgrougetrpal'}],['Foot urbain (TU)', {class: 'bgrougetrpal'}], ['Golf urbain (TU)', {class: 'bgrougetrpal'}], ['Streetball (TU)', {class: 'bgrougetrpal'}], ['Graff (TU)', {class: 'bgrougetrpal'}], ['Autre TU', {class: 'text-primary bgrougetrpal'}]], 
          :size => 7, :include_blank => true %>
        </div>
      </div></br>


      
      







      <div class="field">
        <%= form.label :description %>
        <div class="text-body">
          <%= form.text_field :description %>
        </div>
      </div></br>

      <div class="field">
        <%= form.label :ville %>
        <div class="text-body">
          <%= form.text_field :ville %>
        </div>
      </div></br>

      <div class="field">
        <%= form.label :price %>
        <p> Prix min conseillé pour que levent soit attractif pour les professeurs : 3€ <p>
        <p> Prix max conseillé pour que levent soit attractif pour les élèves : 5€ <p>
        <div class="text-body">
          <%= form.text_field :price %><p>€</p>
        </div>
      </div></br>

      <div class="field">
        <%= form.label :date %>
        <div class="text-body">
          <%= form.datetime_select :date %>
        </div>
      </div></br>


      <div class="actions text-body">
        <%= form.submit %>
      </div></br>
    <% end %>

  </div>
