  <div class="container text-body writingbigbig">
    <h1 class="text-center"> Créer un événement </h1> </br></br>
    <%= form_with(model: event, local: true) do |form| %>
      <% if event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
          <% event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %></br>


      <div class="field">
        <%= form.label :name %>
        <div class="text-body">
          <%= form.text_field :name, placeholder: "Cours de Slackline débutant" %>
        </div>
      </div></br>

      <div class="field">
        <%= form.label :discipline %> <p class="d-inline text-danger"> 
          <p class="text-danger">Ne pas sélectionner les cases qui sont de la forme ===MAJUSCULE===. </br> Les catégories génériques à sélectionner sont écrits en abrégés et en gros. (Danse pour Danse Urbaine par exemple) </p>
        <div class="text-body">
          <%= form.select :discipline, 
          [['===SPORTS DE GLISSE (Glisse)===', {class: 'writingbigbigbig font-weight-bold bgbleupal'}], 
          ['GLISSE', {class: 'writingbigbigbig font-weight-bold bgbleutrpal'}],
          ['Roller (Glisse)', {class: 'writingbigbigbig font-weight-bold bgbleutrpal'}], ['Roller Fitness Ballade (Glisse Roller)', {class: 'bgbleutrpal'}], ['Roller Slalom (Glisse Roller)', {class: 'bgbleutrpal'}], ['Roller Quad (Glisse Roller)', {class: 'bgbleutrpal'}], ['Roller Vitesse (Glisse Roller)', {class: 'bgbleutrpal'}], ['Roller Agressif (Glisse Roller)', {class: 'bgbleutrpal'}], ['Roller Autre (Glisse Roller)', {class: 'text-primary bgbleutrpal'}], 
          ['Board (Glisse)', {class: 'writingbigbigbig font-weight-bold bgbleutrpal'}], ['Skateboard (Glisse Board)', {class: 'bgbleutrpal'}], ['Longboard (Glisse Board)', {class: 'bgbleutrpal'}], ['Trotinette board (Glisse Board)', {class: 'bgbleutrpal'}], ['Board Autre (Glisse Board)', {class: 'text-primary bgbleutrpal'}],
          ['Vélo (Glisse)', {class: 'writingbigbigbig font-weight-bold bgbleutrpal'}], ['Vélo Fixi (Glisse Vélo)', {class: 'bgbleutrpal'}], ['Vélo Vitesse (Glisse Vélo)', {class: 'bgbleutrpal'}], ['Vélo BMX (Glisse Vélo)', {class: 'bgbleutrpal'}], ['Vélo Autre (Glisse Vélo)', {class: 'text-primary bgbleutrpal'}],
          ['AUTRE Glisse (Glisse)', {class: 'text-primary bgbleutrpal'}],
          ['===EQUILIBRE AGILITE (EquilibreAgilité)===', {class: 'writingbigbigbig font-weight-bold bgvertpal'}], ['EquilibreAgilité', {class: 'writingbigbigbig font-weight-bold bgverttrpal'}], ['Parkour (EquilibreAgilité)', {class: 'bgverttrpal'}], ['Slackline (EquilibreAgilité)', {class: 'bgverttrpal'}], ['Jonglage (EquilibreAgilité)', {class: 'bgverttrpal'}], ['Monocycle (EquilibreAgilité)', {class: 'bgverttrpal'}], ['Roue Cyr (EquilibreAgilité)', {class: 'bgverttrpal'}], ['Autre EquilibreAgilité', {class: 'text-primary bgverttrpal'}],
          ['=== BIEN-ÊTRE (BienEtre)===', {class: 'writingbigbigbig font-weight-bold bgvioletpal'}], ['BienEtre', {class: 'writingbigbigbig font-weight-bold bgviolettrpal'}], ['Workout (BienEtre)', {class: 'bgviolettrpal'}], ['Pilat (BienEtre)', {class: ' bgviolettrpal'}], ['Yoga (BienEtre)', {class: 'bgviolettrpal'}], ['Running (BienEtre)', {class: 'bgviolettrpal'}], ['Autre BienEtre', {class: 'text-primary bgviolettrpal'}],
          ['===DANSES URBAINES (Danse)===', {class: 'writingbigbigbig font-weight-bold bgjaune'}], ['Danse', {class: 'writingbigbigbig font-weight-bold bgjaunetrpal'}], ['Hip-Hop (Danse)', {class: 'bgjaunetrpal'}], ['Capoeira (Danse)', {class: 'bgjaunetrpal'}], ['Danse Latine (Danse)', {class: 'bgjaunetrpal'}], ['Autre Danse', {class: 'text-primary bgjaunetrpal'}],
          ['=== TRUCS UBRAINS (TrucUrbain) ===', {class: 'writingbigbigbig font-weight-bold bgrougepal'}], ['TrucUrbain', {class: 'writingbigbigbig font-weight-bold bgrougetrpal'}],['Foot urbain (TrucUrbain)', {class: 'bgrougetrpal'}], ['Golf urbain (TrucUrbain)', {class: 'bgrougetrpal'}], ['Streetball (TrucUrbain)', {class: 'bgrougetrpal'}], ['Graff (TrucUrbain)', {class: 'bgrougetrpal'}], ['Autre TrucUrbain', {class: 'text-primary bgrougetrpal'}]], 
          :size => 7, :include_blank => true %>
        </div>
      </div></br>


      
      







      <div class="field">
        <%= form.label :description %>
        <div class="text-body">
          <%= form.text_field :description %>
        </div>
      </div></br>

      <div class="field">
        <%= form.label :ville %>
        <div class="text-body">
          <%= form.text_field :ville %>
        </div>
      </div></br>

      <div class="field">
        <%= form.label :price %>
        <p> Prix min conseillé pour que levent soit attractif pour les professeurs : 3€ <p>
        <p> Prix max conseillé pour que levent soit attractif pour les élèves : 5€ <p>
        <div class="text-body">
          <%= form.text_field :price %><p>€</p>
        </div>
      </div></br>

      <div class="field">
        <%= form.label :date %>
        <div class="text-body">
          <%= form.datetime_select :date %>
        </div>
      </div></br>


      <div class="actions text-body">
        <%= form.submit %>
      </div></br>
    <% end %>

  </div>
