  <div class="container text-body writingbigbig">
    <h1 class="text-center"> Créer un événement </h1> </br></br>
    <%= form_with(model: event, local: true) do |form| %>
      <% if event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
          <% event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %></br>


      <div class="field">
        <%= form.label :name %>
        <div class="text-body">
          <%= form.text_field :name, placeholder: "Cours de Slackline débutant" %>
        </div>
      </div></br>

      <div class="field">
        <%= form.label :discipline %> <p class="d-inline text-danger"> 
          <p class="text-danger">Ne pas sélectionner les cases qui sont de la forme ===MAJUSCULE===. </br> Les catégories génériques à sélectionner sont écrits en abrégés et en gros. (Danse pour Danse Urbaine par exemple) </br> CHOISISSEZ LA DISCIPLINE, VOUS CHOISIREZ LA SOUS-DISCIPLINE DANS UN DEUXIEME FORMULAIRE (le premier form renvoie vers un deuxième où l on a: form do ... if @event.discipline == roller   :sous-discipline form.select (roller agressif, roller slalom ...)    elsif @ev.disci == equil ) </p>
        <div class="text-body">
          <%= form.select :discipline,
          [['==============', {placeholder: 'GLISSE', class: 'writingbigbigbig font-weight-bold bgbleupal'}], 
          ['GLISSE', 'pet', {class: 'writingbigbigbig font-weight-bold bgbleutrpal'}],
          ['- - - - - - - - - - -', {class: 'writingbigbigbig font-weight-bold bgbleupal'}],
          ['ROLLER (Glisse)', {class: 'writingbigbigbig font-weight-bold bgbleutrpal'}], ['Roller Ballade (Glisse)', {class: 'bgbleutrpal'}], ['Roller Slalom (Glisse)', {class: 'bgbleutrpal'}], ['Roller Quad (Glisse)', {class: 'bgbleutrpal'}], ['Roller Vitesse (Glisse)', {class: 'bgbleutrpal'}], ['Roller Agressif (Glisse)', {class: 'bgbleutrpal'}], ['Roller Autre (Glisse)', {class: 'text-primary bgbleutrpal'}], 
          ['- - - - - - - - - - -', {class: 'writingbigbigbig font-weight-bold bgbleupal'}],
          ['BOARD (Glisse)', {class: 'writingbigbigbig font-weight-bold bgbleutrpal'}], ['Skateboard (Glisse)', {class: 'bgbleutrpal'}], ['Longboard (Glisse)', {class: 'bgbleutrpal'}], ['Trotinette Board (Glisse)', {class: 'bgbleutrpal'}], ['Board Autre (Glisse)', {class: 'text-primary bgbleutrpal'}],
          ['- - - - - - - - - - -', {class: 'writingbigbigbig font-weight-bold bgbleupal'}],
          ['VÉLO (Glisse)', {class: 'writingbigbigbig font-weight-bold bgbleutrpal'}], ['Vélo Fixi (Glisse)', {class: 'bgbleutrpal'}], ['Vélo Vitesse (Glisse)', {class: 'bgbleutrpal'}], ['Vélo BMX (Glisse)', {class: 'bgbleutrpal'}], ['Vélo Autre (Glisse)', {class: 'text-primary bgbleutrpal'}],
          ['AUTRE Glisse (Glisse)', {class: 'text-primary bgbleutrpal'}],
          ['==============', {class: 'writingbigbigbig font-weight-bold bgvertpal'}], ['ÉQUILIBRE AGILITÉ', {class: 'writingbigbigbig font-weight-bold bgverttrpal'}], ['Parkour (Équilibre Agilité)', {class: 'bgverttrpal'}], ['Slackline (Équilibre Agilité)', {class: 'bgverttrpal'}], ['Jonglage (Équilibre Agilité)', {class: 'bgverttrpal'}], ['Monocycle (Équilibre Agilité)', {class: 'bgverttrpal'}], ['Roue Cyr (Équilibre Agilité)', {class: 'bgverttrpal'}], ['Autre Équilibre Agilité', {class: 'text-primary bgverttrpal'}],
          ['==============', {class: 'writingbigbigbig font-weight-bold bgvioletpal'}], ['BIEN ÊTRE', {class: 'writingbigbigbig font-weight-bold bgviolettrpal'}], ['Workout (Bien Être)', {class: 'bgviolettrpal'}], ['Pilat (Bien Être)', {class: ' bgviolettrpal'}], ['Yoga (Bien Être)', {class: 'bgviolettrpal'}], ['Running (Bien Être)', {class: 'bgviolettrpal'}], ['Autre Bien Être', {class: 'text-primary bgviolettrpal'}],
          ['==============', {class: 'writingbigbigbig font-weight-bold bgjaune'}], ['DANSE', {class: 'writingbigbigbig font-weight-bold bgjaunetrpal'}], ['Hip-Hop (Danse)', {class: 'bgjaunetrpal'}], ['Capoeira (Danse)', {class: 'bgjaunetrpal'}], ['Danse Latine (Danse)', {class: 'bgjaunetrpal'}], ['Autre Danse', {class: 'text-primary bgjaunetrpal'}],
          ['==============', {class: 'writingbigbigbig font-weight-bold bgrougepal'}], ['TRUC URBAIN', {class: 'writingbigbigbig font-weight-bold bgrougetrpal'}],['Foot urbain (Truc Urbain)', {class: 'bgrougetrpal'}], ['Golf urbain (Truc Urbain)', {class: 'bgrougetrpal'}], ['Streetball (Truc Urbain)', {class: 'bgrougetrpal'}], ['Graff (Truc Urbain)', {class: 'bgrougetrpal'}], ['Autre Truc Urbain', {class: 'text-primary bgrougetrpal'}]], 
          :disabled => ["==============", '- - - - - - - - - - -'], :include_blank => true, :class => "text-danger" %>
        </div>
      </div></br>




      <div class="field">
        <%= form.label :discipline %> <p class="d-inline text-danger"> <p class="d-inline">Voici une liste des catégories et sous-catégories: </p>
        </br></br><p> 1. Visualises la liste des catégories et sous-catégories </p>
        </br></br>
          <div class="shadow">
          <p class="d-inline writingbigbig">DANSE </p>
          <p class="d-inline writingbigbig">(Hip-hop, Capoeira, Danse Latine, Autre Danse)</p><p class="d-inline writingbigbig">, </p> 
          </br></br><p class="d-inline writingbigbig">BIEN-ÊTRE </p>
          <p class="d-inline writingbigbig">(Workout, Pilat, Yoga, Running, Urban Fishing)</p><p class="d-inline writingbigbig">, </p>  
          </br></br><p class="d-inline writingbigbig">EQUILIBRE AGILITE </p>
          <p class="d-inline writingbigbig">(Parkour, Slackline, Jonglage, Monocycle, Roue Cyr, Autre équilibre-agilité)</p><p class="d-inline writingbigbig">, </p> 
          </br></br><p class="d-inline writingbigbig">GLISSE URBAINE </p>
          <p class="d-inline writingbigbig">(Roller </p><p class="d-inline">(Ballade, Slalom, Quad, Vitesse, Agressif, Autre)</p><p class="d-inline writingbigbig">, Board </p><p class="d-inline">(Skateboard, Longboard, Trotinette, Autre)</p><p class="d-inline writingbigbig">, Vélo</p> <p class="d-inline">(Fixi, Vitesse, BMX, Autre Vélo)</p> <p class="d-inline writingbigbig">, Autre Glisse)</p><p class="d-inline writingbigbig">, </p> 
          </br></br><p class="d-inline writingbigbig">TRUC-URBAIN </p>
          <p class="d-inline writingbigbig">(Foot urbain, Golf urbain, Streetball, Graff, Autre truc-urbain)</p>
          </div> 
          </br></br>
        <div class="text-body">
        <p> 2. Choisis une catégorie ou sous-catégorie <p>
          <%= form.select :discipline,
          [['=====DANSE=====', 'DANSE', {class: 'writingbigbigbig font-weight-bold bgjaunetrpal'}], ['Hip-Hop', 'Hip-Hop (Danse)', {class: 'bgjaunetrpal'}], ['Capoeira', 'Capoeira (Danse)', {class: 'bgjaunetrpal'}], ['Danse Latine', 'Danse Latine (Danse)', {class: 'bgjaunetrpal'}], ['=>Autre Danse', 'Autre Danse', {class: 'text-primary bgjaunetrpal'}],
          ['====BIEN ÊTRE====', 'BIEN ÊTRE', {class: 'writingbigbigbig font-weight-bold bgviolettrpal'}], ['Workout', 'Workout (Bien Être)', {class: 'bgviolettrpal'}], ['Pilat', 'Pilat (Bien Être)', {class: ' bgviolettrpal'}], ['Yoga', 'Yoga (Bien Être)', {class: 'bgviolettrpal'}], ['Running', 'Running (Bien Être)', {class: 'bgviolettrpal'}], ['Urban Fishing','Urban Fishing (Truc Urbain)', {class: 'bgviolettrpal'}], ['=>Autre Bien Être', 'Autre Bien Être', {class: 'text-primary bgviolettrpal'}],
          ['==ÉQUILIBRE AGILITÉ==', 'ÉQUILIBRE AGILITÉ', {class: 'writingbigbigbig font-weight-bold bgverttrpal'}], ['Parkour', 'Parkour (Équilibre Agilité)', {class: 'bgverttrpal'}], ['Slackline', 'Slackline (Équilibre Agilité)', {class: 'bgverttrpal'}], ['Jonglage', 'Jonglage (Équilibre Agilité)', {class: 'bgverttrpal'}], ['Monocycle', 'Monocycle (Équilibre Agilité)', {class: 'bgverttrpal'}], ['Roue Cyr', 'Roue Cyr (Équilibre Agilité)', {class: 'bgverttrpal'}], ['=>Autre Équilibre Agilité', 'Autre Équilibre Agilité', {class: 'text-primary bgverttrpal'}],
          ['=====GLISSE=====', 'Glisse', {class: 'writingbigbigbig font-weight-bold bgbleutrpal'}],
          ['- - - - - - Roller - - - - - -', 'Roller (Glisse)', {class: 'writingbigbigbig font-weight-bold bgbleutrpal'}], ['Roller Ballade', 'Roller Ballade (Glisse)', {class: 'bgbleutrpal'}], ['Roller Slalom', 'Roller Slalom (Glisse)', {class: 'bgbleutrpal'}], ['Roller Quad (Glisse)', {class: 'bgbleutrpal'}], ['Roller Vitesse (Glisse)', {class: 'bgbleutrpal'}], ['Roller Agressif (Glisse)', {class: 'bgbleutrpal'}], ['-> Autre Roller', 'Roller Autre (Glisse)', {class: 'text-primary bgbleutrpal'}], 
          ['- - - - - - Board - - - - - -', 'BOARD (Glisse)', {class: 'writingbigbigbig font-weight-bold bgbleutrpal'}], ['Skateboard','Skateboard (Glisse)', {class: 'bgbleutrpal'}], ['Longboard','Longboard (Glisse)', {class: 'bgbleutrpal'}], ['Trotinette', 'Trotinette Board (Glisse)', {class: 'bgbleutrpal'}], ['-> Autre Board', 'Autre Board (Glisse)', {class: 'text-primary bgbleutrpal'}],
          ['- - - - - - Vélo - - - - - -', 'VÉLO (Glisse)', {class: 'writingbigbigbig font-weight-bold bgbleutrpal'}], ['Vélo Fixi', 'Vélo Fixi (Glisse)', {class: 'bgbleutrpal'}], ['Vélo Vitesse', 'Vélo Vitesse (Glisse)', {class: 'bgbleutrpal'}], ['Vélo BMX', 'Vélo BMX (Glisse)', {class: 'bgbleutrpal'}], ['-> Autre vélo', 'Autre vélo (Glisse)', {class: 'text-primary bgbleutrpal'}],
          ['=>Autre glisse', 'Autre Glisse', {class: 'text-primary bgbleutrpal'}],
          ['===TRUC URBAIN===', 'TRUC URBAIN', {class: 'writingbigbigbig font-weight-bold bgrougetrpal'}],['Foot urbain', 'Foot urbain (Truc Urbain)', {class: 'bgrougetrpal'}], ['Golf urbain', 'Golf urbain (Truc Urbain)', {class: 'bgrougetrpal'}], ['Streetball', 'Streetball (Truc Urbain)', {class: 'bgrougetrpal'}], ['Graff', 'Graff (Truc Urbain)', {class: 'bgrougetrpal'}], ['=>Autre Truc Urbain', 'Autre Truc Urbain', {class: 'text-primary bgrougetrpal'}]], 
          :disabled => ["==============", '- - - - - - - - - - -'], :include_blank => true, :class => "text-danger" %>
        </div>
      </div></br>


      
    # :size => "3")
     # , {class: "selectpicker"}

      
      <p> Entrez des mots clés pour préciser une sous-discipline. Par exemple, si vous avez choisi comme discipline :</br>
      - 'Roller', les mots clés peuvent être : slalom, agressif street, agressif skatepark, quad, saut, slide, vitesse, ballade, ...</br>
      - 'Cirque', les mots clés peuvent être : monocyle, roue cyr, jonglage ...</br>
      PS : Vous pouvez entrer plusieurs mots clés ou groupe de mots clés, séparez-les par des virgules
      </p></br>
      






      <div class="field">
        <%= form.label :description %>
        <div class="text-body">
          <%= form.text_field :description %>
        </div>
      </div></br>

      <div class="field">
        <%= form.label :ville %>
        <div class="text-body">
          <%= form.text_field :ville %>
        </div>
      </div></br>

      <div class="field">
        <%= form.label :price %>
        <p> Prix min conseillé pour que levent soit attractif pour les professeurs : 3€ <p>
        <p> Prix max conseillé pour que levent soit attractif pour les élèves : 5€ <p>
        <div class="text-body">
          <%= form.text_field :price %><p>€</p>
        </div>
      </div></br>

      <div class="field">
        <%= form.label :date %>
        <div class="text-body">
          <%= form.datetime_select :date %>
        </div>
      </div></br>


      <div class="actions text-body">
        <%= form.submit %>
      </div></br>
    <% end %>

  </div>
