  <div class="container text-body writingbigbig">
    <h1 class="text-center"> Créer un événement </h1> </br></br>
    <%= form_with(model: event, local: true) do |form| %>
      <% if event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
          <% event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %></br>


      <div class="field">
        <%= form.label :name %>
        <div class="text-body">
          <%= form.text_field :name, placeholder: "Cours de Slackline débutant" %>
        </div>
      </div></br>

      <div class="field">
        <%= form.label :discipline %> <p class="d-inline text-danger"> (Ne pas sélectionner les cases qui ont la forme</p> <p class="d-inline text-secondary"> ===MAJUSCULE=== </p><p class="d-inline text-danger">. Elles servent de repère)</p>
        <div class="text-body">
          <%= form.select :discipline, 
          [['===SPORTS DE GLISSE===', {class: 'writingbigbigbig text-secondary bg-primary font-weight-bold'}], ['Sport De Glisse Autre', {class: 'text-primary'}], 
          ['----Roller----', {class: 'writingbigbigbig text-secondary'}], ['Roller', {class: 'text-primary'}], 'Roller Fitness Ballade', 'Roller Slalom', 'Roller Quad', 'Roller Vitesse', 'Roller Agressif', ['Roller Autre', {class: 'text-primary'}], 
          ['----Board----', {class: 'writingbigbigbig text-secondary'}], ['Board', {class: 'text-primary'}], 'Skateboard', 'Longboard', 'Trotinette board', ['Board Autre', {class: 'text-primary'}],
          ['----Vélo----', {class: 'writingbigbigbig text-secondary'}], ['Vélo', {class: 'text-primary'}], 'Vélo Fixi', 'Vélo Vitesse', 'Vélo BMX', ['Vélo Autre', {class: 'text-primary'}],
          ['===EQUILIBRE AGILITE (EA)===', {class: 'writingbigbigbig text-secondary'}], ['EA', {class: 'text-primary'}], 'EA Parkour', 'EA Slackline', 'EA Jonglage', 'EA Monocycle', 'EA Roue Cyr', ['EA Autre', {class: 'text-primary'}],
          ['=== BIEN-ÊTRE (BE)===', {class: 'writingbigbigbig text-secondary'}], ['BE', {class: 'text-primary'}], 'Workout (BE)', 'Pilat (BE)', 'Yoga (BE)', 'Running (BE)', ['BE Autre', {class: 'text-primary'}],
          ['===DANSES URBAINES===', {class: 'writingbigbigbig text-secondary'}], ['Danse', {class: 'text-primary'}], 'Danse Hip-Hop', 'Danse Capoeira', 'Danse Latine', ['Danse Autre', {class: 'text-primary'}],
          ['=== TRUCS UBRAINS (TU) ===', {class: 'writingbigbigbig text-secondary'}], ['TU', {class: 'text-primary'}],'Foot urbain (TU)', 'Golf urbain (TU)', 'Streetball (TU)', 'Graff (TU)', ['TU Autre', {class: 'text-primary'}]], 
          :size => 7, :include_blank => true %>
        </div>
      </div></br>


      
      







      <div class="field">
        <%= form.label :description %>
        <div class="text-body">
          <%= form.text_field :description %>
        </div>
      </div></br>

      <div class="field">
        <%= form.label :ville %>
        <div class="text-body">
          <%= form.text_field :ville %>
        </div>
      </div></br>

      <div class="field">
        <%= form.label :price %>
        <p> Prix min conseillé pour que levent soit attractif pour les professeurs : 3€ <p>
        <p> Prix max conseillé pour que levent soit attractif pour les élèves : 5€ <p>
        <div class="text-body">
          <%= form.text_field :price %><p>€</p>
        </div>
      </div></br>

      <div class="field">
        <%= form.label :date %>
        <div class="text-body">
          <%= form.datetime_select :date %>
        </div>
      </div></br>


      <div class="actions text-body">
        <%= form.submit %>
      </div></br>
    <% end %>

  </div>
