  <div class="container text-body writingbigbig">
    <h1 class="text-center"> Créer un événement </h1> </br></br>
    <%= form_with(model: event, local: true) do |form| %>
      <% if event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
          <% event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %></br>


      <div class="field">
        <%= form.label :name %>
        <div class="text-body">
          <%= form.text_field :name, placeholder: "Cours de Slackline débutant" %>
        </div>
      </div></br>

      <div class="field">
        <%= form.label :discipline %> <p class="d-inline text-danger"> (Ne pas sélectionner les cases qui ont la forme</p> <p class="d-inline text-secondary"> ===MAJUSCULE=== </p><p class="d-inline text-danger">. Elles servent de repère)</p>
        <div class="text-body">
          <%= form.select :discipline, 
          [['===SPORTS DE GLISSE===', {class: 'writingbigbigbig text-secondary bgbleu'}], ['Sport De Glisse Autre', {class: 'text-primary bgbleutrpal'}], 
          ['----Roller----', {class: 'writingbigbigbig text-secondary bgbleupal'}], ['Roller', {class: 'text-primary bgbleutrpal'}], ['Roller Fitness Ballade', {class: 'bgbleutrpal'}], ['Roller Slalom', {class: 'bgbleutrpal'}], ['Roller Quad', {class: 'bgbleutrpal'}], ['Roller Vitesse', {class: 'bgbleutrpal'}], ['Roller Agressif', {class: 'bgbleutrpal'}], ['Roller Autre', {class: 'text-primary bgbleutrpal'}], 
          ['----Board----', {class: 'writingbigbigbig text-secondary bgbleupal'}], ['Board', {class: 'text-primary bgbleutrpal'}], ['Skateboard', {class: 'bgbleutrpal'}], ['Longboard', {class: 'bgbleutrpal'}], ['Trotinette board', {class: 'bgbleutrpal'}], ['Board Autre', {class: 'text-primary bgbleutrpal'}],
          ['----Vélo----', {class: 'writingbigbigbig text-secondary bgbleupal'}], ['Vélo', {class: 'text-primary bgbleutrpal'}], ['Vélo Fixi', {class: 'bgbleutrpal'}], ['Vélo Vitesse', {class: 'bgbleutrpal'}], ['Vélo BMX', {class: 'bgbleutrpal'}], ['Vélo Autre', {class: 'text-primary bgbleutrpal'}],
          ['===EQUILIBRE AGILITE (EA)===', {class: 'writingbigbigbig text-secondary bgvert'}], ['EA', {class: 'text-primary bgverttrpal'}], ['Parkour (EA)', {class: 'text-primary bgverttrpal'}], ['Slackline (EA)', {class: 'text-primary bgverttrpal'}], ['Jonglage (EA)', {class: 'text-primary bgverttrpal'}], ['Monocycle (EA)', {class: 'text-primary bgverttrpal'}], ['Roue Cyr (EA)', {class: 'text-primary bgverttrpal'}], ['EA Autre', {class: 'text-primary bgverttrpal'}],
          ['=== BIEN-ÊTRE (BE)===', {class: 'writingbigbigbig text-secondary bgviolet'}], ['BE', {class: 'text-primary bgviolettrpal'}], ['Workout (BE)', {class: 'text-primary bgviolettrpal'}], ['Pilat (BE)', {class: 'text-primary bgviolettrpal'}], ['Yoga (BE)', {class: 'text-primary bgviolettrpal'}], ['Running (BE)', {class: 'text-primary bgviolettrpal'}], ['BE Autre', {class: 'text-primary'}],
          ['===DANSES URBAINES===', {class: 'writingbigbigbig text-secondary bgjaune'}], ['Danse', {class: 'text-primary bgjaunetrpal'}], ['Danse Hip-Hop', {class: 'text-primary bgjaunetrpal'}], ['Danse Capoeira', {class: 'text-primary bgjaunetrpal'}], ['Danse Latine', {class: 'text-primary bgjaunetrpal'}], ['Danse Autre', {class: 'text-primary'}],
          ['=== TRUCS UBRAINS (TU) ===', {class: 'writingbigbigbig text-secondary bgrouge'}], ['TU', {class: 'text-primary bgrougetrpal'}],['Foot urbain (TU)', {class: 'text-primary bgrougetrpal'}], ['Golf urbain (TU)', {class: 'text-primary bgrougetrpal'}], ['Streetball (TU)', {class: 'text-primary bgrougetrpal'}], ['Graff (TU)', {class: 'text-primary bgrougetrpal'}], ['TU Autre', {class: 'text-primary'}]], 
          :size => 7, :include_blank => true %>
        </div>
      </div></br>


      
      







      <div class="field">
        <%= form.label :description %>
        <div class="text-body">
          <%= form.text_field :description %>
        </div>
      </div></br>

      <div class="field">
        <%= form.label :ville %>
        <div class="text-body">
          <%= form.text_field :ville %>
        </div>
      </div></br>

      <div class="field">
        <%= form.label :price %>
        <p> Prix min conseillé pour que levent soit attractif pour les professeurs : 3€ <p>
        <p> Prix max conseillé pour que levent soit attractif pour les élèves : 5€ <p>
        <div class="text-body">
          <%= form.text_field :price %><p>€</p>
        </div>
      </div></br>

      <div class="field">
        <%= form.label :date %>
        <div class="text-body">
          <%= form.datetime_select :date %>
        </div>
      </div></br>


      <div class="actions text-body">
        <%= form.submit %>
      </div></br>
    <% end %>

  </div>
