<p id="notice"><%= notice %></p>
<div class="container">
    <div class = "text-body">
        <h1 class="text-center">Events</h1>
    </div>

    <br>


    <div class="row p-2">
    <% @events.each do |event|%>
        <div class="col-lg-4 mb-4">
            <div class="card h-100 shadow p-2">
                <h4 class="card-header"><%= event.name %></h4>
                
                <img class="card-img-top" src="https://zupimages.net/up/18/26/rch2.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                    <div class="card-body">
                        <p class="card-text">Discipline : <%= event.discipline %> </br>Description : <%= event.description %></br> Date: <%= event.date %></br> Description : <%= event.description %> </br> Nombre de personnes invitatees: <%= event.eleattendees.count %>  </p>
                        <p class="card-text">Discipline : <%= event.discipline %> </br>Description : <%= event.description %></br> Date: <%= event.date %></br> Description : <%= event.description %> </br> Nombre de personnes invitatees: <%= event.eleattendees.count %>  </p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary d-inline" aria-pressed="true"> <%= link_to 'Voir l evenement', event_path(event) %> </button>
                        <p class="active"><%= link_to destroy_event_path(event), method: :delete do %><span class="glyphicon glyphicon-log-out"></span> Supprimer evenement<%end%></p>
                        
                        
                    </div>
            </div>
        </div>
    <% end %>
    </div>
</div>