<p id="notice"><%= notice %></p>
<div class="container">
    <div class = "text-body">
        <h1 class="text-center">Rechercher un evenement </h1>
    </div>
    </br></br>

    <%= form_tag root_path, :method => 'get' do %>
        <div class="row">
            <div class="col-sm">
                <%= label_tag("Choisir une discipline") %>
                <%= select_tag "search2", options_for_select(['Roller', 'BMX', 'Skate', 'Trotinette', 'Parkour', 'Slackline', 'Cirque', 'Monocycle', 'Roue Cyr', 'Workout', 'Pilat', 'Yoga', 'Hip-Hop', 'Capoeira', 'Danse Latine', 'Foot urbain', 'Golf urbain', 'Streetball', 'Graff']), :include_blank => true %> </br>
                <%= label_tag("Choisir la nature de l'évènement") %> </br>
            </div>
            <div class="col-sm">
                <%= label_tag("Sélectionner un jour (lundi...)") %> </br>
                <%= label_tag("Ou une date") %> </br>
            </div>
            <div class="col-sm">
                <%= label_tag("Ajouter des mots clés") %>
                <%= text_field_tag :search, params[:search] %> </br>
                <%= submit_tag "Rechercher" %>
            </div>
        </div>
    <% end %>

    </br>


    <div class="row p-2">
    <% @events.each do |event|%>
        <div class="col-lg-4 mb-4">
            <div class="card h-100 shadow p-2">
                <h4 class="card-header"><%= event.name %></h4>
                <% if event.discipline == "Roller" %>
                    <img class="card-img-top" src="https://zupimages.net/up/18/26/tttj.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif event.discipline == "BMX" %>
                    <img class="card-img-top" src="https://zupimages.net/up/18/26/eqb1.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif event.discipline == "Skate" %>
                    <img class="card-img-top" src="https://zupimages.net/up/18/26/gg0z.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif event.discipline == "Trotinette" %>
                    <img class="card-img-top" src="https://zupimages.net/up/18/26/0h3m.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif event.discipline == "Parkour" %>
                    <img class="card-img-top" src="https://zupimages.net/up/18/26/u9tk.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif event.discipline == "Slackline" %>
                    <img class="card-img-top" src="https://zupimages.net/up/18/26/sooq.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif event.discipline == "Cirque" %>
                    <img class="card-img-top" src="https://zupimages.net/up/18/26/rch2.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif event.discipline == "Monocycle" %>
                    <img class="card-img-top" src="https://zupimages.net/up/18/26/5vtr.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif event.discipline == "Roue Cyr" %>
                    <img class="card-img-top" src="https://zupimages.net/up/18/26/nx2e.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif event.discipline == "Workout" %>
                    <img class="card-img-top" src="https://zupimages.net/up/18/26/gkfg.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif event.discipline == "Pilat" %>
                    <img class="card-img-top" src="https://zupimages.net/up/18/26/3hhj.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif event.discipline == "Yoga" %>
                    <img class="card-img-top" src="https://zupimages.net/up/18/26/xmza.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif event.discipline == "Hip-Hop" %>
                    <img class="card-img-top" <%= image_tag("disciplines/hip-hop1.jpg") %>
                <% elsif event.discipline == "Capoeira" %>
                    <img class="card-img-top" src="https://zupimages.net/up/18/26/4q9u.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif event.discipline == "Danse Latine" %>
                    <img class="card-img-top" src="https://zupimages.net/up/18/26/ut0c.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif event.discipline == "Foot urbain" %>
                    <img class="card-img-top" src="https://zupimages.net/up/18/26/78fw.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif event.discipline == "Golf urbain" %>
                    <img class="card-img-top" src="https://zupimages.net/up/18/26/rezo.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif event.discipline == "Streetball" %>
                    <img class="card-img-top" src="https://zupimages.net/up/18/26/di7g.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif event.discipline == "Graff" %>
                    <img class="card-img-top" src="https://zupimages.net/up/18/26/jb1c.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% else %>
                <% end %>

                    <div class="card-body">
                        <p class="card-text">Discipline : <%= event.discipline %> </br>
                        Description : <%= event.description %></br> 
                        Date: <%= event.date.strftime("The date is %m/%d/%y") %></br> 
                        Personnes inscrites : <% if event.professeur == "present" %> <%= event.asubscribe.count %> + 1 prof <% else %> <%= event.asubscribe.count %> <% end %> </br> 
                        Personnes intéressées: <%= event.eleattendees.count + event.proinvitatees.count %>  </p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary d-inline" aria-pressed="true"> <%= link_to 'Voir l evenement', event_path(event) %> </button>
                        <p class="active"><%= link_to destroy_event_path(event), method: :delete do %><span class="glyphicon glyphicon-log-out"></span> Supprimer evenement<%end%></p>
                        
                        
                    </div>
            </div>
        </div>
    <% end %>
    </div>
</div>