<div class="text-body text-center"> <h1> <%= @event.name %> </h1> </div> </br></br></br>

<div class="container bg-white">

<p class="active"><%= link_to destroy_event_path(@event), method: :delete do %><span class="glyphicon glyphicon-log-out"></span> Supprimer evenement<%end%></p>


    <p id="notice"><%= notice %></p>


        <div class="row p-2">
        <div class="col-lg-6 shadow">
            <h2><%= @event.name %></h2>
            <ul>
                <li> <p><strong>Discipline:</strong> <%= @event.discipline %></p> </li>
                <li><strong>Créateur événement : </strong></br> <%=@creator.firstname%> , <%=@creator.email%></li>
                <li><strong>Professeur :</strong> 
                    <% if @event.professeur == "present" %>
                        <p>Prénom: <%=@professor.firstname%>, </br> Email: <%=@professor.email%> </br> Disciplines préférées: <%=@professor.passion1%>, <%=@professor.passion2%></p>
                    <% else %>
                        <p>Pas encore de prof, invitez-en ci-dessous</p>
                    <% end %>
                </li>
                <li> <strong>Description:</strong> </br> <%= @event.description %> </li>
            </ul>
            <p class= "d-inline">
                <strong>Votre statut :</strong> 
                <% if @event.etat == "open" %>
                    <% if signed_in? == false %>
                        <p class= "d-inline"> Connectez-vous pour rejoindre levenement </p>
                    <% elsif pro_signed_in? %>
                        <% if @event.professor_id == nil %>
                            <p class= "d-inline">  <%= link_to "Rejoindre l'événement", { :controller => "events", :action => "subscribe"}, class: "btn btn-success" %> </p>
                        <% elsif @event.professor_id.to_s == current_pro.id.to_s %>
                            <p class= "d-inline"> Vous êtes professeur, deux jours avant l evenement, si le nombre d inscrit est suffisant, validez l event. 
                            Les élèves recevront alors un mail et pourront payer puis recevoir leur invitation </p>
                            <p class= "d-inline">  <%= link_to "Valider l'event", { :controller => "events", :action => "closingevent"}, class: "btn btn-success" %> </p>
                        <% else %>
                            <p class= "d-inline"> Le post de prof est occupé par : <%=@professor.email%></p>
                        <% end %>
                    <% elsif ele_signed_in? %>
                        <% if @event.asubscribe.include? current_ele.id %>
                            <p class= "d-inline">  Vous avez déjà rejoint cet événement, vous recevrez un mail pour payer lorsque le prof aura valider cet event</p>
                        <% else %>
                        <p>  <%= link_to "Rejoindre l'événement", { :controller => "events", :action => "subscribe"}, class: "btn btn-success" %> </p>
                        <% end %>
                    <% else %>
                    <% end %>

                <% elsif @event.etat == "close" %>
                    <% if ele_signed_in? %>
                        <% if @event.asubscribe.include? current_ele.id %>
                            <% if @event.apayer.include? current_ele.id %>
                                <p class= "d-inline"> Vous n avez plus qu à aller à l evenement </p>
                            <% else %>
                                <p class= "d-inline"> Vous êtes inscrit mais n avez pas encore payé </p>
                                <%= form_tag pay_path do %>
                                    <article>
                                    <% if flash[:error].present? %>
                                        <div id="error_explanation">
                                        <p><%= flash[:error] %></p>
                                        </div>
                                    <% end %>
                                    <label class="amount">
                                        <span>Amount: $5.00</span>
                                    </label>
                                    </article>
                                
                                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                                            data-description="A month's subscription"
                                            data-amount="500"
                                            data-locale="auto"
                                            data-label="Confirmer payement et recevoir pass"></script>                     
                                <% end %>
                            <% end %>
                        <% else %>
                            <p class= "d-inline"> Pas encore inscrit, l event est validé. Cliquez ci-dessous pour vous inscrire, payer et recevoir votre pass </p>
                            <%= form_tag pay_path do %>
                                <article>
                                <% if flash[:error].present? %>
                                    <div id="error_explanation">
                                    <p><%= flash[:error] %></p>
                                    </div>
                                <% end %>
                                <label class="amount">
                                    <span>Amount: $5.00</span>
                                </label>
                                </article>
                            
                                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                                        data-description="A month's subscription"
                                        data-amount="500"
                                        data-locale="auto"
                                        data-label="Confirmer payement et recevoir pass"></script>                     
                            <% end %>
                        <% end %>
                    <% elsif pro_signed_in? %>
                        <% if @event.professor_id = current_pro.id %>
                            <p class= "d-inline"> Vous êtes le prof et avez validé l event, si au moins 5 personnes ont payés, vous donnerez ce cours </p>
                        <% else %>
                            <p class= "d-inline"> Ce cours n est plus accessible, il est dispensé par <%= @event.professor_id.firstname %> </p>
                        <% end %>
                    <% else %>
                        <p class= "d-inline"> Veuillez vous connecter </p>
                    <% end %>

                <% else %>
                <% end %>
            </p>
            </div>
            <div class="col-lg-6">
                <% if @event.discipline == "Roller" %>
                    <img class="img-fluid rounded shadow" src="https://zupimages.net/up/18/26/ocp3.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif @event.discipline == "BMX" %>
                    <img class="img-fluid rounded shadow" src="https://zupimages.net/up/18/26/l8nb.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif @event.discipline == "Skate" %>
                    <img class="img-fluid rounded shadow" src="https://zupimages.net/up/18/26/k9q2.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif @event.discipline == "Trotinette" %>
                    <img class="img-fluid rounded shadow" src="https://zupimages.net/up/18/26/0xfr.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif @event.discipline == "Parkour" %>
                    <img class="img-fluid rounded shadow" src="https://zupimages.net/up/18/26/cmnr.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif @event.discipline == "Slackline" %>
                    <img class="img-fluid rounded shadow" src="https://zupimages.net/up/18/26/mxtc.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif @event.discipline == "Cirque" %>
                    <img class="img-fluid rounded shadow" src="https://zupimages.net/up/18/26/rch2.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif @event.discipline == "Monocycle" %>
                    <img class="img-fluid rounded shadow" src="https://zupimages.net/up/18/26/1tu6.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif @event.discipline == "Roue Cyr" %>
                    <img class="img-fluid rounded shadow" src="https://zupimages.net/up/18/26/x4cu.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif @event.discipline == "Workout" %>
                    <img class="img-fluid rounded shadow" src="https://zupimages.net/up/18/26/4jp1.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif @event.discipline == "Pilat" %>
                    <img class="img-fluid rounded shadow" src="https://zupimages.net/up/18/26/zc1v.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif @event.discipline == "Yoga" %>
                    <img class="img-fluid rounded shadow" src="https://zupimages.net/up/18/26/ktwc.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif @event.discipline == "Hip-Hop" %>
                    <img class="img-fluid rounded shadow" src="https://zupimages.net/up/18/26/ek0y.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif @event.discipline == "Capoeira" %>
                    <img class="img-fluid rounded shadow" <%= image_tag("disciplines/hip-hop1.jpg") %>
                <% elsif @event.discipline == "Danse Latine" %>
                    <img class="img-fluid rounded shadow" src="https://zupimages.net/up/18/26/k21o.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif @event.discipline == "Foot urbain" %>
                    <img class="img-fluid rounded shadow" src="https://zupimages.net/up/18/26/xc3b.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif @event.discipline == "Golf urbain" %>
                    <img class="img-fluid rounded shadow" src="https://zupimages.net/up/18/26/cc81.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif @event.discipline == "Streetball" %>
                    <img class="img-fluid rounded shadow" src="https://zupimages.net/up/18/26/y59c.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% elsif @event.discipline == "Graff" %>
                    <img class="img-fluid rounded shadow" src="https://zupimages.net/up/18/26/amoj.jpg" alt="correspond à lien direct zupimage pour hip-hop1.png en 700x400">
                <% else %>
                <% end %>
            </div>
        </div>

        </br></br></br>







    <h3>Les professeurs invités</h3>
    <table class="table table-striped">
        <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Disciplines préférées</th>
            <th>Voir le profil</th>
        </tr>
    <% @event.proinvitatees.each do |invitatee| %> 
        <tr>
            <td> <%= invitatee.firstname %> </td>
            <td> <%= invitatee.email %> </td>
            <td> <%= invitatee.passion1 %>, <%= invitatee.passion2 %> </td>
            <td> <%= link_to 'Voir son profil', pro_path(invitatee) %> </td>
        </tr>
    <% end %> 
    </table></br>


    <% if signed_in? %>


            <h3> Inviter des prof </h3>

            <table class="table table-striped">
                <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Disciplines préférées</th>
                    <th>Inviter ce professeur</th>
                </tr>


                <% @allpro.each do |pro| %> 
                    <% unless @event.proinvitatees.include? pro %>
                    <tr>
                        <td><%= pro.firstname %></td>
                        <td><%= pro.email %></td>
                        <td> <%= pro.passion1 %>, <%= pro.passion2 %> </td>
                        <td><%= link_to "Inviter ce professeur", { :controller => "events", :action => "addprotoinvitation", :pro_id => pro.id, :test => @event.id}%></td>
                    </tr>
                    <% end %>
                <% end %>
            </table>

    <% else %>
        <p> Connectez-vous pour ajouter des participants </p>
    <% end %></br></br>


    <h3>Les élèves</h3>

    <% if @event.etat == "open" %>

        <h3>Participants </h3>
        <table class="table table-striped">
            <tr>
                <th>Nom</th>
                <th>Email</th>
            </tr>
        <% @event.asubscribe.each do |iddd| %>
            <% if iddd == 0 %>
            <% else %>
                <% ele = Ele.find_by_id(iddd) %>
                <tr>
                    <td> <%= ele.firstname %> </td>
                    <td> <%= ele.email %> </td>
                </tr>
            <% end %>
        <% end %>
        </table>

    <% else %>

        <h3>Participants </h3>
        <table class="table table-striped">
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Autorisé à participer?</th>
            </tr>

        <% @event.asubscribe.each do |iddd| %>
            <% if iddd == 0 %>
            <% else %>
                <% e = Ele.find_by_id(iddd) %>
                <tr>
                    <td> <%= e.firstname %> </td>
                    <td> <%= e.email %> </td>
                    <% if @event.apayer.include? iddd %>
                        <td> A son pass, est autorisé </td>
                    <% else %>
                        <td> En attente de paiement </td>
                    <% end %>
                </tr>
            <% end %>
        <% end %>
        </table>
        </br></br>
    <% end %>




    <h3>Invités </h3>


    <table class="table table-striped">
    <tr>
        <th>Nom</th>
        <th>Email</th>
    </tr>
    <% @event.eleattendees.each do |invitatee| %> 
        <tr>
        <td> <%= invitatee.firstname %> </td>
        <td> <%= invitatee.email %> </td>
        </tr>
    <% end %>
    </table> </br></br>


    <% if signed_in? %>
    
            <h3> Inviter des élèves </h3>

            <table class="table table-striped">
                <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                </tr>


                <% @allele.each do |ele| %> 
                    <% unless @event.eleattendees.include? ele %>
                    <tr>
                        <td><%= ele.firstname %></td>
                        <td><%= ele.email %></td>
                        
                        <td><%= link_to "Inviter cet élève", { :controller => "events", :action => "addeletoinvitation", :ele_id => ele.id, :test => @event.id}%></td>
                    </tr>
                    <% end %>
                <% end %>
            </table>
    <% else %>
            <p> Connectez-vous pour ajouter des participants </p>
    <% end %></br></br>






    </br></br>



    <%= link_to 'Edit', edit_event_path(@event) %> |
    <%= link_to 'Back', events_path %>
</div>