<div class="container">
  <div class="row">
    <h1 class="card-header"><%= @ele.firstname %></h1>
        <div class="card-body">
            <p class="card-text">Passions : <%= @ele.passion1 %>, <%= @ele.passion2 %>, <%= @ele.passion3 %>, <%= @ele.passion4 %> </p>
            <p class="card-text">Ville : <%= @ele.ville %> </p>
            <p class="card-text">Mail : <%= @ele.email %> </p>
        </div>
</div>
</br></br></br>




    <div class="row">
        <div class="col-lg-6">
            <h2><%= @ele.firstname %></h2>
            <ul>
                <li> <p><strong>Passions:</strong> <%= @ele.passion1 %>, <%= @ele.passion2 %>, <%= @ele.passion3 %>, <%= @ele.passion4 %></p> </li>
                <li><strong>Ville : </strong></br> <%= @ele.ville %></li>
                <li><strong>Email :</strong> <%= @ele.email %> </li>
            </ul>
            </p>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
        </div>
    </div>

    </br></br></br>


    </br></br>


    <h1 class = "text-center">Les événements que <%=@ele.firstname%>  a créé </h1>



    <div class="row">
        <% if !@ele.created_events.empty? %>
            <% @ele.created_events.each do |event| %>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <h4 class="card-header"><%= event.name %></h4>
                            <div class="card-body">
                                <p class="card-text">Discipline : <%= event.discipline %> </br>Description : <%= event.description %></br> Date: <%= event.date %></br> </p>
                            </div>
                            <div class="card-footer">
                            <p> <%= link_to 'Voir l event', event_path(event) %> </p>
                            </div>
                    </div>
                </div>
            <% end %>
        <% else %>
            <p> <%= @ele.firstname %> n a pour le moment créer aucun event </p>
        <% end %>
    </div>


    </br></br>


    <h1>Les événements auxquels <%=@ele.firstname%>  a participé </h1>


    <div class="row">
        <% if !@ele.eleattended_events.empty? %>
            <% @ele.eleattended_events.each do |event| %>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <h4 class="card-header"><%= event.name %></h4>
                            <div class="card-body">
                                <p class="card-text">Discipline : <%= event.discipline %> </br>Description : <%= event.description %></br> Date: <%= event.date %></br> </p>
                            </div>
                            <div class="card-footer">
                                <p> <%= link_to 'Voir l event', event_path(event) %> </p>
                            </div>
                    </div>
                </div>
            <% end %>
        <% else %>
            <p> <%= @ele.firstname %> n a pour le moment aucune activité </p>
        <% end %>
    </div>



    

    <h1>Tous les evenement à venir qui intéressent <%=@ele.firstname%> </h1>




    <div class="row">
        <% if !@ele.eleattended_events.empty? %>
            <% @ele.eleattended_events.each do |event| %>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <h4 class="card-header"><%= event.name %></h4>
                            <div class="card-body">
                                <p class="card-text">Discipline : <%= event.discipline %> </br>Description : <%= event.description %></br> Date: <%= event.date %></br> </p>
                            </div>
                            <div class="card-footer">
                                <p> <%= link_to 'Voir l event', event_path(event) %> </p>
                            </div>
                    </div>
                </div>
            <% end %>
        <% else %>
            <p> <%= @ele.firstname %> n a pour le moment aucune activité </p>
        <% end %>
    </div>

</div>