


<div class="container">
    <h1 class="text-white"> Les professeurs </h1></br></br>
    <div class="row">
    <% @pros.each do |pro|%>
        <div class="col-lg-4 mb-4">
        <div class="card h-100">
            <h4 class="card-header"><%= pro.firstname %></h4>
                <div class="card-body">
                    <p class="card-text">Passions : <%= pro.passion1 %>, <%= pro.passion2 %>, <%= pro.passion3 %>, <%= pro.passion4 %> </p>
                    <p class="card-text">Ville : <%= pro.ville %> </p>
                </div>
                <div class="card-footer">
                <p> <%= link_to 'Voir son profil', pro_path(pro) %> </p>
                </div>
        </div>
    </div>
    <% end %>
  </div>
</div>