<nav class="navbar navbar-default bg-light fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            <% if ele_signed_in? %>
              <p class="d-inline"><span class="glyphicon glyphicon-check"></span> <%= current_ele.email %>, vous êtes connecté en tant qu'élève</p>
              <p class="d-inline"><%= link_to destroy_ele_session_path, method: :delete do %><span class="glyphicon glyphicon-log-out"></span> Logout<%end%></p>
            <% elsif pro_signed_in? %>
              <p class="d-inline"><span class="glyphicon glyphicon-check"></span> <%= current_pro.email %>, vous êtes connecté en tant que professeur</p>
              <p class="d-inline"><%= link_to destroy_pro_session_path, method: :delete do %><span class="glyphicon glyphicon-log-out"></span> Logout<%end%></p>
            <% else %>
              <p class="d-inline"><%= link_to new_ele_registration_path do %><span class="glyphicon glyphicon-user"></span> Créer compte élève<%end%></p>
              <p class="d-inline"><%= link_to new_pro_registration_path do %><span class="glyphicon glyphicon-user"></span> Créer compte professeur<%end%></p>
            <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-center">
            <p class="d-inline"><%= link_to root_path do %><span class="glyphicon glyphicon-search"></span> RECHERCHER UN EVENT<%end%></p>
            <% if signed_in? %>
              <p class="d-inline"><%= link_to new_event_path do %><span class="glyphicon glyphicon-upload"></span> CREER UN EVENEMENT<%end%></p>
            <% else %>
              <p> Connectes-toi pour t inscrire ou créer des événments </p>
            <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          
          <% if signed_in? %>
            <p class="d-inline"><%= link_to eles_path do %><span class="glyphicon glyphicon-search"></span> Rechercher un élève<%end%></p>
            <p class="d-inline"><%= link_to pros_path do %><span class="glyphicon glyphicon-search"></span> Rechercher un prof<%end%></p>
          <% else %>
            <li><%= link_to new_ele_session_path do %><span class="glyphicon glyphicon-log-in"></span> Connecter élève<%end%></li>
            <li><%= link_to new_pro_session_path do %><span class="glyphicon glyphicon-log-in"></span> Connecter professeur<%end%></li>
          <% end %>
        </ul>
    </div>
</nav>





