<!DOCTYPE html>
<html>
  <head>
    <title>UH</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <!-- Bootstrap core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-modern-business/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-modern-business/css/modern-business.css" rel="stylesheet">



  <style> 


    .fixe71 {position: fixed; 
            top: 71px;     
            right: 0;
            left: 0;
            z-index: 1030;}

    .contentsize {box-sizing: content-box;}
    .writingsmall {font-size: 0.95rem;}
    .writingbig {font-size: 1.2rem;}
    .writingbigbig {font-size: 1.5rem;}
    .writingbigbigbig {font-size: 1.8rem;}
    .writingbigbigbigbig {font-size: 2.4rem;}


    .bgbleutrpal {background-color: rgb(204, 204, 255)}
    .bgbleupal {background-color: rgb(179, 179, 255)}
    .bgbleu {background-color: rgb(128, 128, 255)}

    .bgrougetrpal {background-color: rgb(255, 204, 204)}
    .bgrougepal {background-color: rgb(255, 179, 179)}
    .bgrouge {background-color: rgb(255, 128, 128)}

    .bgviolettrpal {background-color: rgb(245, 204, 255)}
    .bgvioletpal {background-color: rgb(240, 179, 255)}
    .bgviolet {background-color: rgb(229, 128, 255)}

    .bgverttrpal {background-color: rgb(204, 255, 204)}
    .bgvertpal {background-color: rgb(179, 255, 179)}
    .bgvert {background-color: rgb(128, 255, 128)}

    .bgjaunetrpal {background-color: rgb(255, 255, 204)}
    .bgjaunepal {background-color: rgb(255, 255, 179)}
    .bgjaune {background-color: rgb(255, 255, 128)}

    .bgwater1 {background-color: rgb(235, 244, 246)}
    .bgwater2 {background-color: rgb(189, 234, 238)}
    .bgwater3 {background-color: rgb(118, 180, 189)}
    .bgwater4 {background-color: rgb(88, 102, 139)}
    .bgwater5 {background-color: rgb(94, 86, 86)}

    .bgwrist1 {background-color: rgb(227, 201, 201)}
    .bgwrist2 {background-color: rgb(244, 231, 231)}
    .bgwrist3 {background-color: rgb(238, 219, 219)}
    .bgwrist4 {background-color: rgb(206, 203, 203)}
    .bgwrist5 {background-color: rgb(203, 218, 219)}

    .bgyellow1 {background-color: rgb(255, 219, 172)}
    .bgyellow2 {background-color: rgb(241, 194, 125)}
    .bgyellow3 {background-color: rgb(224, 172, 105)}
    .bgyellow4 {background-color: rgb(198, 134, 66)}
    .bgyellow5 {background-color: rgb(141, 85, 36)}

    .backim {
      background-image: url(https://zupimages.net/up/18/30/nw6i.png);
      background-repeat-x: no-repeat;
    }

  </style>

  </head>

  <body class="backim">


    <%= render "layouts/header" %>
    </br></br>

    <%= yield %>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  
  </body>
</html>
